<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/shop/favicon-shop.ico" type="image/x-icon">
    <link rel="icon" href="images/shop/favicon-shop.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/products-style.css">
    <title>خرید اینترنتی محصولات بهرامن – فروشگاه اینترنتی زعفران بهرامن مشهد</title>
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="arrowup"></i></button>
    <header class="container">
        <div id="top-bahraman-logo">
            <a href="">
                <img src="images/shop/top-bahraman-logo.jpg" alt="">
            </a>
        </div>
        <div id="top-bahraman-phone">
            <div class="phone-icon">
                <img src="images/shop/phone-icon.png" alt="">
            </div>
            <div class="phone-number">
                <p>۰۵۱-۳۵۴۱۴۴۸۷</p>
            </div>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="https://bahraman.com/shop/" class="first">صفحه اصلی</a></li>
                <li class="dropdown"><a href="products/" class="dropbtn active">محصولات</a>
                    <div class="dropdown-content">
                        <a href="products/?cat=1">پک هدیه</a>
                        <a href="products/?cat=4">زعفران</a>
                        <a href="products/?cat=19">پودر زعفران</a>
                        <a href="products/?cat=3">هل</a>
                        <a href="products/?cat=14">اسپری زعفران</a>
                        <a href="products/?cat=18">شربت زعفرانی</a>
                        <a href="products/?cat=21">کافی میکس و ماسالای زعفرانی</a>
                        <a href="products/?cat=7">چای و دمنوش</a>
                        <a href="products/?cat=10">نبات و آبنبات</a>
                        <a href="products/?cat=15">ادویه</a>
                        <a href="products/?cat=8">زرشک</a>
                        <a href="products/?cat=12">خشکبار</a>
                        <a href="products/?cat=13">سایر محصولات</a>
                        <a href="products/?cat=16">سبزیجات</a>
                    </div>
                </li>
                <li><a href="cart/#jump" id="cart-menu" class="">سبد خرید : <span id="cart-2" class="pe">0</span></a></li>
                <li><a href="login/" class="">ورود/ثبت نام</a></li>
                <li><a href="tos/">قوانین و مقررات</a></li>
                <li><a href="help/">راهنمای خرید</a></li>
                <li><a href="http://www.bahramansaffron.com" target="_blank">وب سایت شرکت</a></li>
            </ul>
        </nav>
        <div class="slides">
            <img src="images/shop/slider1.jpg_1705441218" alt="">
            <div class="takhfif">۳ درصد اعتبار خرید</div>
        </div>
    </header>
    <div class="container2">
        <div class="head">
            <br>
            <h1>محصولات بهرامن</h1>
            <div class="line line-right"></div>
        </div>
        <br>
        <div class="pr-filter">
                مرتب سازی بر اساس: 
            <input type="radio" name="sort" value="default" id="sort_default" checked> <label for="sort_default">تنظیمات پیش فرض</label> &nbsp;
            <input type="radio" name="sort" value="min_price" id="sort_min_price"> <label for="sort_min_price">کمترین قیمت</label> &nbsp;
            <input type="radio" name="sort" value="max_price" id="sort_max_price"> <label for="sort_max_price">بیشترین قیمت</label> &nbsp;
            <input type="radio" name="sort" value="newer" id="sort_newer"> <label for="sort_newer">جدیدترین ها</label> &nbsp;
            <input type="radio" name="sort" value="sales" id="sort_sales"> <label for="sort_sales">پر فروشترین ها</label> &nbsp;
        </div>
        <br>
        <div class="filter">
            <div class="heading">
                <p>خرید محصولات زعفران بهرامن</p>
            </div>
            <br>
            <div class="filtering">
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="1" id="cat1"> <label class="chk-container" for="cat1">پک هدیه</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="4" id="cat2"> <label class="chk-container" for="cat2">زعفران</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="19" id="cat3"> <label class="chk-container" for="cat3">پودر زعفران</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="3" id="cat4"> <label class="chk-container" for="cat4">هل</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="14" id="cat5"> <label class="chk-container" for="cat5">اسپری زعفران</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="18" id="cat6"> <label class="chk-container" for="cat6">شربت زعفرانی</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="21" id="cat7"> <label class="chk-container" for="cat7">کافی میکس و ماسالای زعفرانی</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="7" id="cat8"> <label class="chk-container" for="cat8">چای و دمنوش</label></div>
                <div style="position:relative"><input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="10" id="cat9"> <label class="chk-container" for="cat9">نبات و آبنبات</label></div>
            </div>
        </div>
        <div class="products">
            <div class="cart box">
                <a href="">
                    <img src="images/shop/14-cover-چکامه.jpg_1705520292" alt="پک هدیه">
                    <p>پک هدیه چکامه</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/19-cover-19-cover-50-گرم-رویال.jpg_1705520292">
                    <p>هل سبز 50 گرمی کتابی</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/174-cover-یک-مثقال-پاکت.jpg_1705520292">
                    <p>زعفران یک مثقال پاکتی بهرامن</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/73-cover-کاور.jpg_1705520292">
                    <p>دمنوش جینسینگ</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/94-cover-زرشک300گرم.jpg_1705520292">
                    <p>زرشک پفکی 300 گرم </p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/83-cover-عناب-رویال.jpg_1705520292">
                    <p>عناب</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
            <div class="cart box">
                <a href="">
                    <img src="images/shop/91-cover-چوب-دارچین.jpg_1705520292">
                    <p>چوب دارچین</p>
                </a>
                <p class="pr">445,000 ريال</p>
                <a href="" class="add-btn">
                    <p>افزودن به سبد خرید</p>
                    <img src="images/shop/shop-icon.png" class="add-icon">
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="center">
            <img src="images/shop/footer_bg.jpg" alt="">
        </div>
    </footer>
    <div class="jump-cart">
        <a href="">
            <p>رفتن به سبد خرید</p>
        </a>
    </div>
    <script>
         // Get the button
         let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>