<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static  'home/images/shop/favicon-shop.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'home/images/shop/favicon-shop.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/css/shop-style.css' %}">
    <title>زعفران یک مثقال پاکتی - فروشگاه مرکزی زعفران بهرامن</title>
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="arrowup"></i></button>
    <header class="container">
        <div class="top">
            <div id="top-bahraman-logo">
                <a href="">
                    <img src="images/shop/top-bahraman-logo.jpg" alt="">
                </a>
            </div>
            <div id="top-bahraman-phone">
                <div class="phone-icon">
                    <img src="images/shop/phone-icon.png" alt="">
                </div>
                <div class="phone-number">
                    <p>۰۵۱-۳۵۴۱۴۴۸۷</p>
                </div>
            </div>
        </div>
        <nav id="navbar">
            <ul>
                <li><a href="https://bahraman.com/shop/" class="first active">صفحه اصلی</a></li>
                <li class="dropdown"><a href="products/" class="dropbtn">محصولات</a>
                    <div class="dropdown-content">
                        <a href="products/?cat=1">پک هدیه</a>
                        <a href="products/?cat=4">زعفران</a>
                        <a href="products/?cat=19">پودر زعفران</a>
                        <a href="products/?cat=3">هل</a>
                        <a href="products/?cat=14">اسپری زعفران</a>
                        <a href="products/?cat=18">شربت زعفرانی</a>
                        <a href="products/?cat=21">کافی میکس و ماسالای زعفرانی</a>
                        <a href="products/?cat=7">چای و دمنوش</a>
                        <a href="products/?cat=10">نبات و آبنبات</a>
                        <a href="products/?cat=15">ادویه</a>
                        <a href="products/?cat=8">زرشک</a>
                        <a href="products/?cat=12">خشکبار</a>
                        <a href="products/?cat=13">سایر محصولات</a>
                        <a href="products/?cat=16">سبزیجات</a>
                    </div>
                </li>
                <li><a href="cart/#jump" id="cart-menu" class="">سبد خرید : <span id="cart-2" class="pe">0</span></a></li>
                <li><a href="login/" class="">ورود/ثبت نام</a></li>
                <li><a href="tos/">قوانین و مقررات</a></li>
                <li><a href="help/">راهنمای خرید</a></li>
                <li><a href="http://www.bahramansaffron.com" target="_blank">وب سایت شرکت</a></li>
            </ul>
        </nav>
        <div class="slides">
            <img src="images/shop/slider1.jpg_1705441218" alt="">
            <div class="takhfif">۳ درصد اعتبار خرید</div>
        </div>
    </header>
    <main>
        <div class="container2">
            <section class="detail">
                <h1>خرید زعفران</h1>
                <p>فروشگاه اینترنتی زعفران بهرامن در سال 1397 با هدف ایجاد بستری مناسب برای خدمت رسانی 24 ساعته به مشتریان برند زعفران بهرامن در تمامی نقاط کشور پهناور ایران راه اندازی شد. هم اکنون این فروشگاه اینترنتی با ارائه برترین محصولات در زمینه زعفران، زرشک، هل، نبات، انواع آجیل و خشکبار، انواع ادویه، چای و دمنوش مشغول به فعالیت می باشد.</p>
            </section>
            <br><br><br>
            <section class="grouping">
                <h1>دسته بندی محصولات بهرامن</h1>
                <div class="line line-center"></div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/1-پک.jpg_1705517406" alt="پک هدیه">
                        <p>پک هدیه</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/4-زعفران.jpg_1705517406" alt="زعفران">
                        <p>زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/19-img_2532-(2).jpg_1705517406" alt="پودر زعفران">
                        <p>پودر زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/3-img_2800-2.jpg_1705517406">
                        <p>هل</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/14-اسپری.jpg_1705517406">
                        <p>اسپری زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/18-شربت-سایت.jpg_1705517406">
                        <p>شربت زعفرانی</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/21-کاور-قهوه-ماسالا-1.jpg_1705517406">
                        <p>کافی میکس و ماسالای زعفرانی</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/7-چای.jpg_1705517406">
                        <p>چای و دمنوش</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/10-نبات.jpg_1705517406">
                        <p>نبات و آبنبات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/20-عسل.jpg_1705517406">
                        <p>عسل</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/15-ادویه.jpg_1705517406">
                        <p>ادویه</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/8-زرشک.jpg_1705517406">
                        <p>زرشک</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/12-خشکبارسایت.jpg_1705517406">
                        <p>خشکبار</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/13-محصولات-جدید-سایت.jpg_1705517406">
                        <p>سایر محصولات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/16-_mg_6484.jpg_1705517406">
                        <p>سبزیجات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/16-_mg_6484.jpg_1705517406">
                        <p>سبزیجات</p>
                    </a>
                </div>
            </section>
            
            <section class="best-selling">
                <h1>پرفروش ترین محصولات</h1>
                <div class="line line-center"></div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/14-cover-چکامه.jpg_1705520292" alt="پک هدیه">
                        <p>پک هدیه چکامه</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/19-cover-19-cover-50-گرم-رویال.jpg_1705520292">
                        <p>هل سبز 50 گرمی کتابی</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/174-cover-یک-مثقال-پاکت.jpg_1705520292">
                        <p>زعفران یک مثقال پاکتی بهرامن</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/73-cover-کاور.jpg_1705520292">
                        <p>دمنوش جینسینگ</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/94-cover-زرشک300گرم.jpg_1705520292">
                        <p>زرشک پفکی 300 گرم </p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/68-cover-گل-محمدی.jpg_1705520292">
                        <p>آبنبات گل محمدی</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/83-cover-عناب-رویال.jpg_1705520292">
                        <p>عناب</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="images/shop/91-cover-چوب-دارچین.jpg_1705520292">
                        <p>چوب دارچین</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="images/shop/shop-icon.png" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
            </section>
        </div>
        

    </main>
    <footer class="footer">
        <div class="left">
            <img src="images/shop/footer.png" alt="">
        </div>
        <div class="center">
            <img src="images/shop/footer_bg.jpg" alt="">
        </div>
        <div class="right">
            <p>© 2024 by Bahraman Saffron</p>
            
            <p>تمامی حقوق برای زعفران بهرامن محفوظ است</p>
        </div>
    </footer>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>