.cover-image img{
    width: 90%;
    margin: 20px auto;
}

.images-show{
    margin: 30px 100px 30px 15px;
    float: right;
    width: 25%;
    height: 20vh;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
}

.row > .column {
    padding: 0 8px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    margin: auto;
}

.column img{
    object-fit: scale-down;
}


  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
  
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}

.mySlides img{
    width: 60%;
    display: block;
    margin: auto auto 20px auto;
}
  
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 10%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
  
  /* Position the "next button" to the right */
.next {
    left: auto;
    right: 10%;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #fafafa;
    color: black;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img {
    margin-bottom: -4px;
}
  
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}
  
.demo {
    opacity: 0.6;
    width: 200px;
    margin: auto;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail{
    margin: 30px 15px;
    float: right;
    width: 60%;
    direction: rtl;
    text-align: right;
}

.detail #sorting{
    color: #dc2428;
    text-decoration: none;
    
}

.detail img{
    width: 400px;
}

.detail .add-btn{
    width: 20%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #b20205;
    text-decoration: none;
    border-radius: 5px;
}

.detail .add-btn:hover{
    box-shadow: 0 5px 15px #666;
    transition: all 0.3s;
}
.detail .add-btn .add-icon{
    width: 27px;
    border-radius: 0;
    box-shadow: 0 0 0 #666;
}

.detail .add-btn p{
    margin-top: 10px;
    color: white;
    font-size: smaller;
    font-weight: 500;
}

.product-detail{
    background-color: #fff;
    width: 84%;
    margin: 30px auto;
    padding-right: 0;
}

.product-detail .head-links{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(136, 136, 136, 0.288);
}

.product-detail .head-links a{
    position: relative;
    bottom: 6px;
    background: #f7f7f7;
    padding: 6px 15px;
    color: #333;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    transition: all .3s;
    margin-left: 3px;
    border-top-right-radius:8% ;
    border-top-left-radius: 8%;
}

.product-detail .head-links a:hover{
    background: #d8d7d7;
}

.product-sections {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-sections strong.border, strong.border {
    border-right: 4px solid #b91b1f;
    padding-right: 10px;
    margin-bottom: 20px;
    display:inline-block;
    width: 100%;
    text-align: right;
}

.product-sections div{
    font-size: 14px;
    line-height: 250%;
    font-weight: 500;
}

div.title {
    background: #ebebeb;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-left: 5px solid white;
    font-weight: 600;
    float: right;
    width: 20%;
    text-align: right;
}

div.val {
    background: #f9f9f9;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 80%;
    text-align: right;
    font-weight: 300;
}

.comments .commnet {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.comments .commnet::after {
    content: "";
    clear: both;
    display: table;
}

.comments .commnet img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.comments .commnet img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.wr-comment .textarea{
    float: right;
    direction: rtl;
    width: 75%;
    margin: 50px auto;
}

.wr-comment .textarea textarea{
    background-color: #fafafa;
    border: 1px solid #99999965;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 18px;
}

.user-info{
    float: right;
    direction: rtl;
    width: 25%;
    margin: 50px auto;
}

.user-info input{
    background-color: #fafafa;
    border: 1px solid #99999965;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 18px;
    width: 100%;
    margin: 7px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-info #name{
    margin-top: 0;
}

.user-info #email{
    font-size: 15px;
    font-weight: bold;
}

.user-info .btn {
    color: white!important;
    background: #b20205;
    transition: all .3s;
    border: 0;
    padding: 12px 20px 12px 20px;
    position: relative;
    top: 0;
    border-radius: 5px;
    font-size: 17px;
}

.user-info .btn:hover{
    background: #da282b;
    cursor: pointer;
}

.jump-cart{
    position: fixed;
    display: block;
    width: 150px;
    height: 50px;
    background: rgb(70, 204, 111);
    top: 0;
    margin-left: -75px;
    left: 50%;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    padding: 0 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 1000000000;
    border-width: 0 2px 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
}

.jump-cart a{
    margin-top: -20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
