a{
    text-decoration: none;
    color: black;
}

.container2{
    width: 85%;
    margin: 0 auto;
}

.container2 .head{
    text-align: right;
}

.line{
    height: 3px;
    width: 100px;
    background: #b20205;
    position: relative;
    top: -10px;
    margin-bottom: 20px;
    float: right;
}

.container2 .pr-filter{
    position: relative;
}

.container2 .pr-filter form{
    position: absolute;
    left: 15%;
}

input[type=radio], input[type=checkbox] {
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.pr-filter label{
    margin-left: 15px;
}

label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.pro-fil{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.container2 .filter{
    margin: 0;
    padding: 0;
}

.container2 .filter .heading{
    position: relative;
    top: 0;
    background-color: #f5f5f5;
    border-right: 5px solid #dc2428;
    border-radius: 2%;
    height: 8vh;
    margin-top: 0;
    padding: 1px 12px;
    font-weight: bold;
}

.container2 .filter .filtering{
    height: 70vh;
    padding: 5px 10px 5px 0;
    border-radius: 2px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #eee;
    direction: rtl;
    display: flex;
    flex-direction: column;
}

.container2 .filter .filtering a{
    padding: 8px 0;
    margin-bottom: 10px;
}

.container2 .filter .filtering label{
    font-weight: normal;
}

.container2 .products{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    direction: rtl;
}

.container2 .products .cart{
    text-align: center;
}

.box{
    border: 1px solid #eee;
    padding-bottom: 15px;
    overflow: hidden;
}

.container2 .products .cart a{
    text-decoration: none;
}

.container2 .products .cart img{
    max-width: 225px;
    transition: all 0.3s ease;
}

.container2 .products .cart:hover img:first-child{
    transform: scale(1.05);
}

.container2 .products .cart p{
    margin-top: 0;
    color: #b20205;
}

.container2 .products .cart .pr{
    color: #000;
    font-weight: bolder;
}

.container2 .products .cart .add-btn{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #b20205;
    text-decoration: none;
    border-radius: 10px;
}

.container2 .products .cart .add-btn:hover{
    box-shadow: 0px 5px 15px #666;
    transition: all 0.3s;
}

.container2 .products .cart .add-btn .add-icon{
    width: 27px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #666;
}

.container2 .products .cart .add-btn p{
    margin-top: 10px;
    color: white;
    font-size: smaller;
    font-weight: 500;
}

.jump-cart{
    position: fixed;
    display: block;
    width: 150px;
    height: 50px;
    background: rgb(70, 204, 111);
    top: 0px;
    margin-left: -75px;
    left: 50%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding: 0px 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    z-index: 1000000000;
    border-width: 0px 2px 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
}

.jump-cart a{
    margin-top: -20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

