{% extends 'shop-base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'shop/css/products-style.css' %}">{% endblock %}
{% block title %}فروشگاه مرکزی زعفران بهرامن{% endblock %}
{% block content %}
    <div class="container2">
        <div class="head" id="products-section">
            <br>
            <h1>محصولات بهرامن</h1>
            <div class="line line-right"></div>
        </div>
        <br>
        <div class="pr-filter">
            <form id="sort-form" method="get">
                    مرتب سازی بر اساس:
                <label><input type="radio" name="sort" value="default" checked> تنظیمات پیش‌فرض</label>
                <label><input type="radio" name="sort" value="low-to-high" {% if sort_option == "low-to-high" %}checked{% endif %}> کمترین قیمت</label>
                <label><input type="radio" name="sort" value="high-to-low" {% if sort_option == "high-to-low" %}checked{% endif %}> بیشترین قیمت</label>
                <label><input type="radio" name="sort" value="newest" {% if sort_option == "newest" %}checked{% endif %}> جدیدترین‌ها</label>
            </form>
        </div>
        <br>
        <div class="pro-fil">
            <div class="filter">
            <div class="heading">
                <p>خرید محصولات زعفران بهرامن</p>
            </div>
            <br>
            <div class="filtering">
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}">
                        <input type="checkbox" name="cat" class="filter-chk filter-cat-chk" value="1" id="cat1">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
            <div class="products">
                {% for product in products %}
                     <div class="cart box">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}">
                            <p>{{ product.name }}</p>
                        </a>
                        <p class="pr"> {{ product.price }} ریال</p>
                        <a href="" class="add-btn">
                            <p>افزودن به سبد خرید</p>
                            <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon" alt="shop-icon">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if cart %}
        <div class="jump-cart">
            <a href="{% url 'orders:cart' %}">
                <p>رفتن به سبد خرید</p>
            </a>
        </div>
    {% endif %}
    <script>
        document.querySelectorAll('input[name="sort"]').forEach(radio => {
            radio.addEventListener('change', function() {
                document.getElementById('sort-form').submit();
                const url = new URL(window.location.href);
                url.searchParams.set('sort', this.value);
                url.hash = 'products-section';
                window.location.href = url.toString();
            });
        });

        const urlParams = new URLSearchParams(window.location.search);
        const sortParam = urlParams.get('sort');
        if (sortParam) {
            document.querySelector(`input[name="sort"][value="${sortParam}"]`).checked = true;
        }
        window.addEventListener('load', function() {
            if (window.location.hash === '#products-section') {
                const productsSection = document.getElementById('products-section');
                if (productsSection) {
                    productsSection.scrollIntoView();
                }
            }
        });
    </script>
{% endblock %}
