{% extends 'shop-base.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'shop/css/shop-style.css' %}">{% endblock %}
{% block title %}فروشگاه مرکزی زعفران بهرامن{% endblock %}
{% block content %}
    <div class="container2">
        <section class="detail">
            <h1>خرید زعفران</h1>
            <p>فروشگاه اینترنتی زعفران بهرامن در سال 1397 با هدف ایجاد بستری مناسب برای خدمت رسانی 24 ساعته به مشتریان برند زعفران بهرامن در تمامی نقاط کشور پهناور ایران راه اندازی شد. هم اکنون این فروشگاه اینترنتی با ارائه برترین محصولات در زمینه زعفران، زرشک، هل، نبات، انواع آجیل و خشکبار، انواع ادویه، چای و دمنوش مشغول به فعالیت می باشد.</p>
        </section>
        <br><br><br>
        <section class="grouping">
            <h1>دسته بندی محصولات بهرامن</h1>
            <div class="line line-center"></div>
            <div class="carts">
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/1-پک.jpg_1705517406' %}" alt="پک هدیه" class="cart-image">
                        <p>پک هدیه</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/4-زعفران.jpg_1705517406' %}" alt="زعفران" class="cart-image">
                        <p>زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/19-img_2532-(2).jpg_1705517406' %}" alt="پودر زعفران" class="cart-image">
                        <p>پودر زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/3-img_2800-2.jpg_1705517406' %}" class="cart-image">
                        <p>هل</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/14-اسپری.jpg_1705517406' %}" class="cart-image">
                        <p>اسپری زعفران</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/18-شربت-سایت.jpg_1705517406' %}" class="cart-image">
                        <p>شربت زعفرانی</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/21-کاور-قهوه-ماسالا-1.jpg_1705517406' %}" class="cart-image">
                        <p>کافی میکس و ماسالای زعفرانی</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/7-چای.jpg_1705517406' %}" class="cart-image">
                        <p>چای و دمنوش</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/10-نبات.jpg_1705517406' %}" class="cart-image">
                        <p>نبات و آبنبات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/20-عسل.jpg_1705517406' %}" class="cart-image">
                        <p>عسل</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/15-ادویه.jpg_1705517406' %}" class="cart-image">
                        <p>ادویه</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/8-زرشک.jpg_1705517406' %}" class="cart-image">
                        <p>زرشک</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/12-خشکبارسایت.jpg_1705517406' %}" class="cart-image">
                        <p>خشکبار</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/13-محصولات-جدید-سایت.jpg_1705517406' %}" class="cart-image">
                        <p>سایر محصولات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/16-_mg_6484.jpg_1705517406' %}" class="cart-image">
                        <p>سبزیجات</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/16-_mg_6484.jpg_1705517406' %}" class="cart-image">
                        <p>سبزیجات</p>
                    </a>
                </div>
            </div>
        </section>
        <section class="best-selling">
            <h1>پرفروش ترین محصولات</h1>
            <div class="line line-center"></div>
            <div class="carts">
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/14-cover-چکامه.jpg_1705520292' %}" alt="پک هدیه" class="cart-image">
                        <p>پک هدیه چکامه</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/19-cover-19-cover-50-گرم-رویال.jpg_1705520292' %}" class="cart-image">
                        <p>هل سبز 50 گرمی کتابی</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/174-cover-یک-مثقال-پاکت.jpg_1705520292' %}" class="cart-image">
                        <p>زعفران یک مثقال پاکتی بهرامن</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/73-cover-کاور.jpg_1705520292' %}" class="cart-image">
                        <p>دمنوش جینسینگ</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/94-cover-زرشک300گرم.jpg_1705520292' %}" class="cart-image">
                        <p>زرشک پفکی 300 گرم </p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/68-cover-گل-محمدی.jpg_1705520292' %}" class="cart-image">
                        <p>آبنبات گل محمدی</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/83-cover-عناب-رویال.jpg_1705520292' %}" class="cart-image">
                        <p>عناب</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
                <div class="cart">
                    <a href="">
                        <img src="{% static 'shop/images/shop/91-cover-چوب-دارچین.jpg_1705520292' %}" class="cart-image">
                        <p>چوب دارچین</p>
                    </a>
                    <p class="pr">445,000 ريال</p>
                    <a href="" class="add-btn">
                        <img src="{% static 'shop/images/shop/shop-icon.png' %}" class="add-icon">
                        <p>افزودن به سبد خرید</p>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
