{% load static %}
<div class="nav">
        <div class="nav nav-logo"><img src="{% static 'home/images/home/logo-fa.png_v=1.0.8' %}"></div>
        <div class="nav nav-content">
            <ul class="menu">
                <li class="menu item"><a href="{% url 'home:home' %}">خانه</a></li>
                <li class="menu line">|</li>
                <li class="menu item"><a href="{% url 'home:about_us' %}">درباره ما</a></li>
                <li class="menu line">|</li>
                <li class="dropdown">
                    <a href="{% url 'shop:products' %}" class="dropbtn">محصولات</a>
                    <ul class="dropdown-content">
                        {% for product in products %}
                            <li>
                                <a  target="_blank"
                                    href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu line">|</li>
                <li class="menu item"><a href="{% url 'shop:shop' %}">فروشگاه</a></li>
            </ul>
        </div>
    </div>