<nav id="navbar">
    <ul>
        <li><a href="{% url 'shop:shop' %}" class="first active">صفحه اصلی</a></li>
        <li class="dropdown"><a href="{% url 'shop:products' %}" class="dropbtn">محصولات</a>
            <div class="dropdown-content">
                {% for product in products %}
                    <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
                {% endfor %}
            </div>
        </li>
        <li><a href="{% url 'orders:cart' %}" id="cart-menu" class="">سبد خرید : <span id="cart-2" class="pe">{{ cart|length }}</span></a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}" class="">خروج</a></li>
        {% else %}
            <li><a href="{% url 'accounts:register' %}" class="">ثبت نام</a></li>
            <li><a href="{% url 'accounts:login' %}" class="">ورود</a></li>
        {% endif %}
        <li><a href="">قوانین و مقررات</a></li>
        <li><a href="">راهنمای خرید</a></li>
        <li><a href="{% url 'home:home' %}" target="_blank">وب سایت شرکت</a></li>
    </ul>
</nav>